.ck-editor__editable,
textarea {
    min-height: 150px;
}



.select2 {
    max-width: 100%;
    width: 100% !important;
}

.select2-selection__rendered {
    padding-bottom: 5px !important;
}

.has-error .invalid-feedback {
    display: block !important;
}

.btn-info,
.badge-info {
    color: white;
}



.nav-item {
    cursor: pointer;
}

.btn-default {
    color: #23282c;
    background-color: #f0f3f5;
    border-color: #f0f3f5;
}

.btn-default.focus,
.btn-default:focus {
    box-shadow: 0 0 0 .2rem rgba(209, 213, 215, .5);
}

.btn-default:hover {
    color: #23282c;
    background-color: #d9e1e6;
    border-color: #d1dbe1;
}




.select2-results__option {
    padding-left: 0px;
    padding-right: 0px;
}

.form-group .required::after {
    content: " *";
    color: rgb(212, 52, 52);
}

.form-check.is-invalid ~ .invalid-feedback {
    display: block;
}



.custom-select.form-control-sm {
    padding: 0.25rem 1.5rem;
}


.custom-icon {
    font-size: 10px; /* Adjust the size as needed */
    color: #dde5eb;
    font-weight: bold;
    border-radius: 50%; /* To make it rounded */
    background-color: rgb(10, 183, 230);
    padding: 10px; /* Adding padding for extra space around the icon */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Adding shadow */
    cursor: pointer; /* Change cursor to pointer on hover */
  }

  .custom-btn {
    font-size: 10px; /* Adjust the size as needed */
    color: #dde5eb;
    font-weight: bold;
    border-radius: 50%; /* To make it rounded */
    background-color: rgb(7, 107, 168);
    padding: 10px; /* Adding padding for extra space around the icon */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Adding shadow */
    cursor: pointer; /* Change cursor to pointer on hover */
  }

